table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  form {
      display: none;
      flex-direction: column;
      justify-items: center;
      align-content: center;
      width: 50%;
      height: 50vh;
      
  }